---
layout: page
---

{{ content }}

<script>
  // hide submenus by default, expand on click
  var li = $('li ul, li ol').css({'cursor':'auto', 'list-style-image':'none'}).hide().parent('li');
  li.css({
    'list-style-image':'url("/images/bullet-expandable.png")',
    'cursor':'pointer'
  });
  li.click(function(){
    var el = $(this);
    if (el.css('list-style-image').indexOf('expanded') == -1)
      el.css('list-style-image', 'url("/images/bullet-expanded.png")');
    else
      el.css('list-style-image', 'url("/images/bullet-expandable.png")');
    el.children('ul').toggle(200);
  });
</script>
